:root {
    --primary: rgb(59, 11, 11);
    --secondary: rgb(46, 45, 45);
    --tertiary: rgb(255, 255, 255);
    --light-grey: rgb(117, 114, 114);
    --black: rgb(0, 0, 0);
}

.hero {
    height: 400px;
    width: 100%;
    background-image: url("../Images/musician-2708190_1920-1170x550.jpg");
    background-size: cover;
    background-position: center;
}

header {
    background-color: var(--primary);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
}



.level {
    background-color: var(--light-grey);
    height: 50px;
}

h1, h2, h3, h4 {
    color: rgb(255, 255, 255);
}

p {
    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 255, 255);

}

main {
    padding-left: 10px;
}

.card {
    background-color: var(--secondary);
    padding-left: 10px;
}

.search-form-section {
    color: rgb(255, 255, 255);
}

.label {
    color: rgb(255, 255, 255);
}

.radio {
    color: rgb(255, 255, 255);
}

body {
    background-color: var(--secondary);
}

.block:not(:last-child) {
    margin-bottom: 1.5rem;
    background-color: var(--primary);
    padding-left: 10px;
    font-weight: bold;
    font-size: x-large;
  }

.btn {
    font-size: medium;
    text-decoration: var(--tertiary);
    width: 100%;
    display: block;
    margin: auto;
}

footer {
    color: rgb(255, 255, 255);
}

/* modal styles */

.modal-card-body {
    display: flex;
    justify-content: center;
}

.dropdown {
    margin: 100px;
} 


